<div class="login">
  <form action="addnewproduct" method="post">
    <div class="imgcontainer">
      <img src="/img/avatar.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="code" required>
     <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="name" required>
     <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="price" required>
     <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="description" required>
     <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="description" required>


      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="signup">password?</a></span>
    </div>
  </form>
</div>